#### 1.Write a program to print "Hello Python" ten times.

In [1]:

for i in range(0,10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

#### 2. Write a program to print number from 1 to 10.

In [2]:
for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### 3.Write a program to print sum of 10 numbers.

In [3]:
sum=0
for i in range(1,11):
    sum+=i
print("Sum of 1st 10 numbers:",sum)

Sum of 1st 10 numbers: 55

#### 4.Write a program to print n number entered by the user.

In [1]:
N=int(input("Enter a number:"))
for i in range(1,N+1):
    print(i)

Enter a number:10
1
2
3
4
5
6
7
8
9
10

#### 5.Write a program to print sum of n numbers.

In [2]:
n=int(input("Enter any number:"))
sum=0
for i in range(1,n+1):
    sum+=i
print("Sum of 1st n numbers:",sum)

Enter any number:15
Sum of 1st n numbers: 120

#### 6.Write a program to print table of a number.

In [4]:
n=int(input("The multiplication table of a number:"))
i=1
for i in range(1,13):
    print(n,"x",i,"=",n*i)

The multiplication table of a number:2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24

#### 7.Write a program to calculate the factorial of a number.

In [5]:
n=int(input("Enter a number:"))
fact=1
for i in range(1,n+1):
    fact=fact*i
print("The fatorial of", n,"is",fact)

Enter a number:5
The fatorial of 5 is 120

#### 8.Write a program to print even number between 1 to 100.

In [9]:
for i in range(2,101,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

#### 9.Write a program to print odd number between 1 to 100.

In [10]:
for i in range(1,101,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

#### 10.Write a program to check whether a number is palindrome or not.

In [17]:
n=int(input("Enter a number:"))
temp=n
rev=0
while n>0:
    rem=n%10  
    rev=rev*10+rem 
    n=n//10 
if temp==rev:
    print("The given number is palindrome")
else:
    print("The given number is not a palindrome")

Enter a number:121
The given number is palindrome

#### 11.Write a program to find the factors of a number.

In [1]:
number =int(input("Enter a number:"))

print("The factors of {} are,".format(number))

for i in range(1,number+1):
    if number%i==0:
        print(i)

Enter a number:25
The factors of 25 are,
1
5
25

#### 12. Write a program to print the reverse of a number.

In [1]:
n=12345
temp=0
while n>0: 
    rem=n%10 
    temp=temp*10+rem
    n=n//10
print("The reverse of a number is:{}".format(temp))

The reverse of a number is:54321

#### 13.Write a program to print the sum of  reverse of a number.

In [7]:
num=1234
rev=0
sum=0

while num!=0:
    digit=num % 10
    sum=sum + digit
    rev=rev * 10 + digit
    num=num//10

print("Reversed Number: ",rev)
print('sum = ',sum)

Reversed Number:  4321
sum =  10

#### 14.Write a program to check whether a given number is prime or not.

In [10]:
num = 13
count=0
if num > 1:
    for i in range(1,num+1):
        if num%i==0:
            count=count+1
    if count==2:
        print("{} is a prime number:".format(num))
    else:
        print("{} is not a prime number:".format(num))

13 is a prime number:

#### 15.Write a program to print prime number between 1 and 100.

In [2]:
n=1
n1=100

print("Prime numbers between", n, "and", n1, "are:")

for num in range(n, n1 + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between 1 and 100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

#### 16. Write a program to print number in reverse order entered by the user.

In [3]:
n=int(input("Enter a number"))
temp=0
while n>0: 
    rem=n%10 
    temp=temp*10+rem
    n=n//10
print("The reverse of a number is:{}".format(temp))

Enter a number123
The reverse of a number is:321

#### 17.Write a program to print cube of all numbers from 1 to a given number

In [4]:
for i in range(1,12):
    print(i*i*i)

1
8
27
64
125
216
343
512
729
1000
1331

#### 18.Write a program to print the following number patterns using a loop.

In [6]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [9]:
for i in range(1,6):
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444
55555

In [12]:
n=5
for i in range(n): 
    for j in range(n-i):
        print(str(n-j),end='')
    print()

54321
5432
543
54
5

In [11]:
n=5
for i in range(n): #i=0,1,2,3,4
    for j in range(n-i):
        print(str(j+1),end='')
    print()

12345
1234
123
12
1

In [5]:
n=5
for i in range(6):    
    for j in range(n-i,0,-1):  
        print(j, end='')  
    print(" ")

54321
4321
321
21
1

In [57]:
for i in range(5):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [59]:
n=5
for i in range(n):
    print("*"*n)

*****
*****
*****
*****
*****

In [2]:
rows=5
for i in range(rows + 1, 0, -1):    
    for j in range(0, i - 1):  
        print("*", end=' ')  
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [4]:
rows = 5
i = rows
while i >= 1:
    j = rows
    while j > i:
        print(' ', end=' ')
        j -= 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i -= 1

* * * * *
  * * * *
    * * *
      * *
        *

In [61]:
rows = 5
k = 8
for i in range(0, rows):
    for j in range(0, k):
        print(end=" ")
    k = k - 2
    for j in range(0, i+1):
        print("* ", end="")
    print()

Enter the number of rows5
        *
      * *
    * * *
  * * * *
* * * * *

In [62]:
for i in range(5):
    for j in range(i+1):
        print(chr(65+j),end="")
    print()

A
AB
ABC
ABCD
ABCDE

In [15]:
for i in range(1,6):
    for j in range(i):
        print(chr(64+i),end="")
    print()

A
BB
CCC
DDDD
EEEEE

In [41]:
n=5
for i in range(n): #i=0,1,2,3,4
    for j in range(n-i):
        print(chr(65+j),end='')
    print()

ABCDE
ABCD
ABC
AB
A

In [63]:
rows=5
for i in range(rows+1):    
    for j in range(n-i):  
        print(chr(64+n-i), end='')  
    print(" ")

EEEEE
DDDD
CCC
BB
A